
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600;700&family=Dosis:wght@500&family=Libre+Baskerville:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,600&family=PT+Sans+Narrow:wght@700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    transition: 0.5s;
}

.menu{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom:1px solid grey;
    background: #fff;
}
body{
    background: rgb(241, 238, 238);
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
   // text-align: center;
 
    
}

.wrapper ul{
   list-style-type: none;
   text-align: center;
   
}
.wrapper ul li{
    display: inline;
    padding: 1%;
}
.wrapper ul li a{
    text-decoration: none;
    color: #3742fa;
    font-weight: 600;
    
    
}
.wrapper ul li a:hover{
    color: #ff6348;
   
}

.main-content{

    background-color: #dfe4ea;
    padding: 3% 0;
}

.col-4{
    margin: 1%;
    padding: 2%;
    width: 18%;
    background: #fff;
    float: left;
}
.center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.footer{
    width: 100%;
    background: #ff4757;
    color: #fff;
}
.wrapper.footer{
    text-align: center;
}
.wrapper.footer p a{
    text-decoration: none;
    color:#2ed573;
}

table.tbl-full{
    width: 100%;
    
    
    
}


.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
    
}

table tr td{
    
    padding: 1%;
    text-align: left;
    font-size: 14px;
}

//----button designed-----


a.btn-primary{
    //font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
    color: #fff;
    background: #1e90ff;
}

.btn-primary{
    background:#1e90ff ;
}
.btn-primary:hover{
    background: #3742fa;

}

a.btn-secondary{
    //font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    background: #7bed9f;
}


.btn-secondary:hover{
    background: #2ed573;

}


a.btn-danger{
    //font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background: #ff6348;
}
.btn-danger:hover{
    background: #b90413;

}

.btn-secondary{

    background: #7bed9f;
}

.btn-secondary:hover{
    background: #2ed573;

}

.success{
    color: rgb(9, 150, 9);
}
.fails{
    color: #ff4757;
}

//-------login page started----
.login{
  border: 2px solid black;
  width: 22%;
  margin:10% auto;
  padding: 2%;
}


//-------login page ended----